*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.coupon-section{
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 10px;

}
.coupon-section .coupon-header{
    width: 100%;
    height: 100%;
    /* /* background-color: yellow; */
    overflow-y: scroll;
} 
.coupon-header::-webkit-scrollbar{
    width: 0px;
}
.coupon-header .coupon-top{
    width: 100%;
    height: 60px;
    /* /* background-color: skyblue; */
} 
.coupon-top .coupon-heading{
    width: 280px;
    height: 100%;
    /* background-color: chocolate; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.coupon-heading .c-add-icon{
    width: 40px;
    height: 100%;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.coupon-heading .c-add-icon svg{
    font-weight: 600;
    font-size: 2em;
}
.coupon-heading h2{
    font-weight: 600;
    color: #232929;
}
.coupon-header .coupon-form-section{
    width: 100%;
    height: 250px;
    /* background-color: cornflowerblue; */
    padding: 10px;
}
.coupon-form-section .coupon-form{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0.5px #918b8b;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
.coupon-form::-webkit-scrollbar{
    width: 0px;
}
.coupon-form .default-top{
    width: 100%;
    height: 50px;
    /* background-color: goldenrod; */
}
.default-top .default-heading{
    width: 250px;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.default-heading .d-1{
    width: 70px;
    height: 100%;
    /* background-color: cornsilk; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #c2b6b6;
   
    


}
.default-heading .d-1 h3{
    color: #b7bac6;
}
.default-heading .e-1{
    width: 100px;
    height: 100%;
    /* background-color: cornsilk; */
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.default-heading .e-1 h3{
    color: #343b3b;
}
.coupon-form .title-box{
    width: 100%;
    height: 120px;
    /* background-color: #ae5353; */
}
.title-heading{
    width: 200px;
    height: 50px;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.coupon-form .title-input{
    width: 100%;
    height: 50px;
    /* background-color: skyblue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-input input{
    width: 95%;
    height: 100%;
    padding-left: 10px;
    font-size: 1.2em;
    border: 0.5px solid #c5bcbc;
    outline: none;
    border-radius: 5px;
}
.coupon-form .title-box2{
    width: 100%;
    height: 100px;
  
    /* background-color: #d3c88e; */
    display: flex;
    justify-content: center;
    align-items: center;
   
    

    
    
    
}
.title-box2 .wrap-part{
    width: 95%;
    height: 100%;
    /* background-color:blue ; */
    display: flex;
    justify-content: normal;
    gap:40px;
    align-items: center;
    flex-wrap: wrap;
}

.title-box2 .t-box-1{
    width: 350px;
    height: 110px;
    /* background-color: rebeccapurple; */
}
 .type-heading{
    width: 200px;
    height: 60px;
    /* background-color: yellow; */
    display: flex;
    justify-content: start;
    align-items: center; 
}
.coupon-form .title-box2 .title-c-select{
    width: 100%;
    height: 55px;
    /* background-color: rgb(63, 100, 114); */
    display: flex; 
    justify-content: end;
    align-items: center;
    
   
}
.title-c-select .select-menu{
    width: 100%;
    height: 100%;
    

}

.title-c-select input{
    width: 100%;
    height: 100%;
    padding-left: 10px;
    outline: none;
    
    border-radius: 5px;
    font-size: 1.2em;
    border: 0.5px solid #c5bcbc;
}


.add-header .title-box4{
    width: 100%;
    height: 50px;
    /* background-color: skyblue; */
    display: flex;
    justify-content: flex-end;
}
.title-box4 .title-btn-box{
    width: 300px;
    height: 100%;
    /* background-color: #ae5353; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.title-btn-box .rst-btn{
    width: 100px;
    height: 40px;
    background-color: #d4d0e8;
    color: #232929;
    font-weight: 550;
}
.title-btn-box .subt-btn{
    width: 100px;
    height: 40px;
    background-color: #aba4a4;
    color: #fff;

}

/* coupon table */

.coupon-header .coupon-table{
    width: 100%;
    height: 650px;
    /* background-color: yellow; */
    padding: 10px;
}
.coupon-table .c-table-header{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow:  0px 0px 5px #7f7f8b;


}
.c-table-header .c-table-top{
    width: 100%;
    height: 50px;
    /* background-color: skyblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.c-table-top .c-table-heading{
    width: 250px;
    height: 100%;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.c-table-heading span{
    width: 30px;
    height: 30px;
    background-color: #c5dce5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    border-radius: 10px;
}
.c-table-heading h2{
    color: #232929;
    font-weight: 600;
}
.c-table-top .search-title-code{
    width: 350px;
    height: 100%;
    /* background-color: gold; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-title-code .s-input{
    width: 300px;
    height: 40px;
     /* background-color: rgb(179, 108, 187);  */
    display: flex;
   
    
}
.s-input input{
    width: 260px;
    height: 100%;
    outline: none;
    border: 0px;
    background-color: #ebf5ff;
   border-bottom-left-radius: 5px;
   border-top-left-radius: 5px;
   padding-left: 10px;
   box-shadow:  0px 0px 3px 0.5px #bcb6b6;
   font-size: 1em;
}
.s-input .icon-s{
    width: 40px;
    height: 100%;
    background-color: #7d7474;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
 .icon-s svg{
    font-size: 1.5em;
    font-weight: 600;
    color: #fff;
}

.c-table-header .main-coupon-box{
    width: 100%;
    height: 560px;
    /* background-color: rgb(154, 104, 201); */
    overflow-y: scroll;
}
.main-coupon-box::-webkit-scrollbar{
    width: 0px;
}
.main-coupon-box table tbody tr td{
    padding: 10px;
    color: #232929;
}
.main-coupon-box table thead{
    height: 55px;
    position: sticky;
    top: 0px;
    background-color: #d4e4f3;   
   z-index: 3;
    color: #232929;
}
.ac-box button{
    min-width: 30px;
   width: 35px;
   height: 35px;
   border: 1px solid brown;
   margin: 10px;
}

.ac-box button.hipen{
    background-color: #b9e880;
    
}

.ac-box button.hipen svg{
    color: #232929;
}