*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.dashboard-section{
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 10px;
}
.dashboard-section .dashboard-header{
    width: 100% ;
    height: 100%;
    background-color: rgb(98, 122, 144);
    overflow-y: scroll;
    padding: 10px;
}
.dashboard-section .dashboard-header::-webkit-scrollbar{
    width: 0px;
}
.dashboard-header .dash-top{
    width: 100%;
    height: 60px;
    /* background-color: cadetblue; */
}
.dash-top .dash-heading{
    width: 200px;
    height: 100%;
    /* background-color: cornflowerblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.dash-top .dash-heading .icon svg{
    font-size: 25px;
}
.dash-top .dash-heading h2{
    font-size: 1.3em;
    font-weight: 600;
}
.dashboard-header .overall{
    width: 100%;
    height: 350px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    box-shadow: 0px 0px 4px 2px #cfc7c7;
    border-radius: 10px;

}
.dashboard-header .overall .statistics{
    width: 100%;
    height: 100%;
     /* background-color: brown; */
    
}
.statistics .over-top{
    width: 100%;
    height: 60px;
    /* background-color: chocolate; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.statistics .over-top .over-heading{
    width: 400px;
    height: 100%;
    /* background-color: cornflowerblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.statistics .over-heading .icon svg{
    font-size: 25px;
}
.statistics .over-heading h2{
    font-size: 1.3em;
    font-weight: 600;
}
.statistics .over-top .over-select{
    width: 370px;
    height: 100%;
    /* background-color: burlywood; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.statistics .over-top .over-select .select-menu{
    width: 300px;
    height: 40px;
    background-color:#fff;
}
.statistics .carts{
    width: 100%;
    height: 260px;
      /* background-color: skyblue;   */
      
}
.statistics .carts .cart-box1{
    width: 100%;
    height: 180px;
    /* background-color: rgb(142, 153, 212); */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
   
}
.statistics .carts .cart-box1 .cart1{
    width: 450px;
    height: 160px;
    background-color: #c3c2e4;
    border-radius: 10px;
    padding: 10px;
}
.cart1 .confirem-icon{
    width: 100%;
    height: 60px;
    /* background-color: #dbb872; */
    display: flex;
    justify-content: end;

}
.cart1 .confirem-icon .icon-cf{
    width: 70px;
    height: 70px;
    /* background-color: blue; */
    border-radius: 50%;
    margin-right: 10px;
}
.cart1 .confirem-icon .icon-cf img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.cart1 .confirem-info{
    width: 100%;
    height: 100px;
    /* background-color: chartreuse; */
}
.cart1 .confirem-info .confirem-count{
    width: 150px;
    height: 100px;
    /* background-color: navy; */
    padding: 15px;
}
.cart1 .confirem-info .confirem-count h2{
    font-size: 1.7em;
    font-weight: 500;
    color:#1b5167;

}
.cart1 .confirem-info .confirem-count p{
    font-size: 1.3em;
    font-weight: 600;
}

.statistics .carts .cart-box1 .cart3{
    width: 450px;
    height: 160px;
    background-color: #cfdad0;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction:column;

}
.cart3 .confirem-icon{
    width: 100%;
    height: 60px;
    /* background-color: #dbb872; */
    display: flex;
    justify-content: end;

}
.cart3 .confirem-icon .icon-cf{
    width: 60px;
    height: 60px;
    /* background-color: blue; */
    border-radius: 50%;
    margin-right: 10px;
}
.cart3 .confirem-icon .icon-cf img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.cart3 .confirem-info{
    width: 100%;
    height: 100px;
    /* background-color: chartreuse; */
}
.cart3 .confirem-info .confirem-count{
    width: 250px;
    height: 100px;
    /* background-color: navy; */
    padding: 15px;
}
.cart3 .confirem-info .confirem-count h2{
    font-size: 1.7em;
    font-weight: 500;
    color:#e72121;

}
.cart3 .confirem-info .confirem-count p{
    font-size: 1.3em;
    font-weight: 600;
}
.statistics .carts .cart-box1 .cart4{
    width: 450px;
    height: 160px;
    background-color: #e8d4de;
    border-radius: 10px;
    padding: 10px;
    
}
.cart4 .confirem-icon{
    width: 100%;
    height: 60px;
    /* background-color: #dbb872; */
    display: flex;
    justify-content: end;

}
.cart4 .confirem-icon .icon-cf{
    width: 70px;
    height: 70px;
    /* background-color: blue; */
    border-radius: 50%;
    margin-right: 10px;
}
.cart4 .confirem-icon .icon-cf img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.cart4 .confirem-info{
    width: 100%;
    height: 100px;
    /* background-color: chartreuse; */
}
.cart4 .confirem-info .confirem-count{
    width: 200px;
    height: 100px;
     /* background-color: navy;  */
    padding: 15px;
}
.cart4 .confirem-info .confirem-count h2{
    font-size: 1.7em;
    font-weight: 500;
    color:#e72121;

}
.cart4 .confirem-info .confirem-count p{
    font-size: 1.3em;
    font-weight: 600;
}

.carts .cart-box2{
    width: 100%;
    height: 80px;
    /* background-color: #2cfa4b; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.cart-box2 .cart-d1{
    width: 360px;
    height: 70px;
    background-color:#e8f0f3;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    

}
.cart-box2 .cart-d1 .dlinfo{
    width: 180px;
     height: 100%;
     /* background-color: #5956ad; */
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 15px;
     
}
.cart-box2 .cart-d1 .dlinfo h4{
    font-size: 1.3em;
    font-weight: 550;
}
.cart-box2 .cart-d1 .dlinfo  .line{
    width: 30px;
    height: 30px;
    /* background-color: #2cfa4b;*/
} 
.cart-box2 .cart-d1 .dlinfo .line img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cart-box2 .cart-d1 .dlcount{
    width: 50px;
    height: 100%;
    /* background-color: #cfdad0; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-box2 .cart-d1 .dlcount h2{
    font-size: 1.7em;
    font-weight: 500;
    color:#e72121;
}
.dashboard-header  .top-items{
    width: 100%;
    height: 550px;
    /* background-color: rgb(107, 37, 177); */
    padding: 10px;
    display: flex;
    gap: 15px;
}
.dashboard-header .top-items .top-selling{
    width: 50%;
    height: 100%;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 4px 2px #cfc7c7;
}
.top-selling .sell-top{
    width: 100%;
    height: 50px;
    /* background-color: cadetblue; */
}
.sell-top .top-heading{
    width: 250px;
    height: 100%;
    /* background-color: #579360; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.sell-top .top-heading .sell-icon{
    width: 50px;
    height: 30px;
    /* background-color: #c3c2e4; */
    text-align: center;
}
.sell-icon svg{
    font-size: 2em;
   
}
.sell-top .top-heading h2{
    font-weight: 600;
}

.sell-row1{
    width: 100%;
    height: 230px;
    /* background-color: #46684b; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.sell-row1 .sell-img{
    width: 200px;
    height: 210px;
    background-color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 2px #e3dede;
}
.sell-row1 .sell-img .img01{
    width: 170px;
    height: 150px;
    /* background-color: #2cfa4b; */
    position: relative;
}
.sell-row1 .sell-img .img01 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    
    
}

.sell-row1 .sell-img .img01 .sold{
    width: 70px;
    height: 30px;
    background-color: rgb(14, 10, 10);
    position: absolute;
    top: 20px;
    left: 30px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    
}
.sell-row1 .sell-img .img01-info{
    width: 100%;
    height: 30px;
    /* background-color: #c3c2e4; */
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.dashboard-header .top-items .top-rated{
    width: 50%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 5px 2px #e3dede;
    border-radius: 15px;
}
.top-rated .rated-head{
    width: 100%;
    height: 50px;
    /* background-color: cadetblue;*/
} 
.top-rated .rated-head .rated-heading{
    width: 300px;
    height: 100%;
    /* background-color: #579360; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
.top-rated .rated-head .rated-heading .rated-icon{
    width: 50px;
    height: 30px;
    /* background-color: #c3c2e4; */
    text-align: center;
}
.rated-icon svg{
    font-size: 2em;
   
}
.rated-head .rated-heading h2{
    font-weight: 600;
}
.top-rated .rated-row01{
    width: 100%;
    height: 240px;
    /* background-color: #46684b; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.rated-row01 .rated-img{
    width: 200px;
    height: 210px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 2px #e3dede;
}
.rated-row01 .rated-img .img02{
    width: 130px;
    height: 120px;
}
.rated-row01 .rated-img .img02 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.rated-row01 .rated-img .img02-info{
    width: 100%;
    height: 20px;
    /* background-color: #c3c2e4; */
    text-align: center;
    
}
.rated-row01 .rated-img .img02-info .reviews{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: cornflowerblue; */
    gap: 8px;
    
}
.rated-row01 .rated-img .img02-info .reviews .r-icon{
    width: 50px;
    height: 100%;
    /* background-color: #1be739; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    color: #30ab43;
}
.rated-row01 .rated-img .img02-info .reviews .r-icon svg{
    font-size: 1.4em;
    
}