*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.top-header-section{
    width: 100%;
    height: 80px;
    background-color: green;
    padding: 10px;
}
.top-header-section .main-header{
    width: 100%;
    height: 100%;
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-header .top-left-side{
    width: 380px;
    height: 100%;
    background-color: rgb(87, 99, 104);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.top-left-side .clozet-logo{
    width: 280px;
    height: 100%;
    /* background-color: red; */
    display: flex;
}
.clozet-logo .f-logo{
    width: 60px;
    height: 100%;
    /* background-color: black; */
}
.f-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.clozet-logo .text-logo{
    width: 290px;
    height: 100%;
    /* background-color: yellow; */

}
.text-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.top-left-side .sidebar-btn{
    width: 70px;
    height: 100%;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px
}
.sidebar-btn button{
   min-width: 20px;
   width: 40px;
   height: 40px;
   background-color: #4960d7;
}
.sidebar-btn button svg{
    font-size: 40px;
    color: #fff;
}
/* top right side */
.main-header .top-right-side{
    width: 350px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-right-side .message{
    width: 60px;
    height: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;

}
.message button{
    min-width: 20px;
    width: 50px;
    height: 50px;
    background-color: #c7e0eb;
    border-radius: 50%;
}
.message button svg{
    font-size: 40px;
    color: #708283;
}

.user-img-sms{
    width: 100%;
    height: 60px; 
    /* background-color: blue; */
    display: flex;
    gap: 5px;
    
    
} 
.user-img-sms .u-sms-img{
    width: 50px;
    height: 100%;
    /* background-color: #964b4b; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.u-sms-img .av-img{
    width: 40px;
    height: 40px;
    /* background-color: black; */
   
}
.av-img img{
    width: 100%;
    height: 100%;
   object-fit: cover;
   border-radius: 50%;
}
.user-img-sms .user-sms-info{
    width: 200px;
    height: 100%;
    /* background-color: chartreuse; */
   
}
.user-sms-info .u-s-name{
    width: 100%;
    height: 30px;
    /* background-color: cornflowerblue; */
    display: flex;
}
.u-s-name .sms-time{
    width: 50px;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.u-s-name .sms-time  p{
    font-size: 0.9em;
    color: #303c3c;
}
.user-sms-info .u-s-name h3{
    color: #232929;
    font-weight: 600;
}
.user-sms-info .sms-chat{
    width: 100%;
    height: 30px;
    /* background-color: red; */
}
.user-sms-info .sms-chat  p{
   overflow: hidden;
   color: #7b8d8e;
}
.user-img-sms .sms-count{
    width: 40px;
    height: 100%;
    /* background-color: rgb(160, 194, 126); */
    display: flex;
    justify-content: center;
    align-items: center;

}
.sms-count .c-sms{
    width: 20px;
    height: 20px;
    background-color: #4960d7;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
}
.top-right-side .my-account-box{
    width: 250px;
    height: 100%;
    /* background-color: cornflowerblue; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.my-account-box .my-account{
    width: 100%;
    height: 50px;
    /* background-color: darkorchid; */
    display: flex;
    gap: 5px;
}
.my-account .my-acc-img-box{
    width: 50px;
    height: 100%;
    /* background-color: #232929; */
}
.my-acc-img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.my-account .my-acc-info-box{
    width: 200px;
    height: 100%;
    /* background-color: yellow; */
}
.my-acc-info-box .my-h h3{
    color: #232929;
    font-weight: 500;
}
.my-acc-info-box .my-e p{
    font-weight: 500;
    color: #7b8d8e;
}