*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.myshop-section{
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 15px;
}
.myshop-section .myshop-header{
    width: 100%;
    height: 100%;
    /* background-color: cadetblue; */
    overflow-y: scroll;
    padding: 0px 10px 0px 10px;
    
}
.myshop-header::-webkit-scrollbar{
    width:0px;
}
.myshop-header .myshop-detail{
    width: 100%;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #989cae;
    
}
.myshop-header .my-shop-top{
    width: 100%;
    height: 50px;
    /* background-color: yellowgreen; */
}
.my-shop-top .my-shop-heading{
    width: 250px;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-shop-heading .d-1{
    width: 70px;
    height: 100%;
    /* background-color: cornsilk; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #c2b6b6;
}
.my-shop-heading .d-1 h3{
    color: #b7bac6;
}
.my-shop-heading .e-1{
    width: 100px;
    height: 100%;
    /* background-color: cornsilk; */
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.my-shop-heading .e-1 h3{
    color: #343b3b;
}
.myshop-detail .myshop-form{
    width: 100%;
    height: 420px;
    /* background-color: chocolate; */
    padding: 10px;
}
 .myshop-form .form-part1{
    width: 100%;
    height: 100px;
    /* background-color: greenyellow; */
 }
 .form-part1 .n-heading{
    width: 200px;
    height: 40px;
    /* background-color: beige; */
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .form-part1 .n-input{
    width: 100%;
    height: 50px;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .n-input input{
    width: 96%;
    height: 100%;
    outline: none;
    border: 0.5px solid #c5bcbc;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 1.2em;
 }
 
 
 
 .form-part2{
    width: 100%;
    height: 200px;
    /* background-color: greenyellow; */
 }
 .form-part2 .n-heading{
    width: 240px;
    height: 40px;
    /* background-color: beige; */
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .form-part2 .n-input{
    width: 100%;
    height: 150px;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .n-input input{
    width: 96%;
    height: 100%;
    outline: none;
    border: 0.5px solid #c5bcbc;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 1.2em;
 }
 .n-input textarea{
    width: 96%;
    height: 100%;
    outline: none;
    border: 0.5px solid #c5bcbc;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 1.2em;
 }
 .form-part3{
    width: 100%;
    height: 100px;
    /* background-color: greenyellow; */
 }
 .form-part3 .n-heading{
    width: 230px;
    height: 40px;
    /* background-color: beige; */
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .form-part3 .n-input{
    width: 100%;
    height: 50px;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .n-input input{
    width: 96%;
    height: 100%;
    outline: none;
    border: 0.5px solid #c5bcbc;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 1.2em;
 }

 .myshop-header .upload-box{
    width: 100%;
    height: 500px;
    /* background-color: red; */
    display: flex;
    gap: 15px;
    padding: 15px 10px 10px 10px;
 }
 .upload-box  .upload-logo-left{
    width: 50%;
    height: 100%;

    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #c5bcbc;

 }
 .upload-logo-left .up-logo-top{
    width: 100%;
    height: 50px;
    /* background-color: cornflowerblue; */
    border-bottom: 0.5px solid #c5bcbc;
 }
 .up-logo-top .up-logo-heading{
    width: 150px;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .up-logo-heading h3{
    color: #989cae;
 }
 .upload-logo-left .up-img{
    width: 100%;
    height: 450px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .up-img .img-real{
    width: 200px;
    height: 300px;
    /* background-color: #fff; */
 }
 .img-real img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
 }
 .upload-logo-right{
    width: 50%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #c5bcbc;

 }
 .upload-logo-right .up-logo-top{
    width: 100%;
    height: 50px;
    /* background-color: cornflowerblue; */
    border-bottom: 0.5px solid #c5bcbc;
 }
 .up-logo-top .up-logo-heading{
    width: 300px;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .up-logo-heading h3{
    color: #989cae;
 }
 .upload-logo-right .up-img{
    width: 100%;
    height: 450px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .up-img .img-real{
    width: 200px;
    height: 300px;
    /* background-color: #fff; */
 }
 .img-real img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
 }
 .title-btn-box .subt-btn{
    width: 100px;
    height: 40px;
    background-color: #aba4a4;
    /* color: #fff; */

}
 
 
 